---
// component inports
import Mainlayout from "../../layouts/mainLayout.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/pagination.astro";
import CategoryCloud from "../../components/CategoryCloud.astro";

// utils
import { formatBlogPosts } from "../../js/utils";

export async function getStaticPaths({ paginate }) {
  console.log("get posts - list & pagination");
  const allPosts = await Astro.glob("./*.md");
  const formattedPosts = formatBlogPosts(allPosts);

  return paginate(formattedPosts, {
    pageSize: 3,
  });
}

const { page } = Astro.props;
---

<Mainlayout
  title={`${page.total} Posts`}
  description={`Read my ${page.total} blog posts...`}>
  <section class='container' aria-label='New Blog Posts'>
    <h1 class='h1'>My {page.total} Posts</h1>
    <div class='post-container'>
      {
        page.data.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType='h2'
          />
        ))
      }
    </div>
    <p>Page {page.currentPage} of {page.total}</p>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
  <aside class='container' aria-label='Blog Categories'>
    <h2 class='h3'>Blog Categories</h2>
    <CategoryCloud showCount={true} />
  </aside>
</Mainlayout>
